@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Chakra+Petch&family=Dongle:wght@300&family=Josefin+Sans:wght@200&family=Luxurious+Roman&family=Mochiy+Pop+P+One&family=Roboto:ital,wght@0,300;1,100;1,300&family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Chakra+Petch&family=Dongle:wght@300&family=Josefin+Sans:wght@200&family=Luxurious+Roman&family=Mochiy+Pop+P+One&family=Roboto:ital,wght@0,300;1,100;1,300&family=Yanone+Kaffeesatz:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan',sans-serif;
    
}
body{
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    cursor:pointer;
    height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 

    
}



.navitem
{
  
  background-color: 009900;
  
  font-size: 25px;
}
nav{
    color: black;
   
}

ul{
    list-style: none;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    text-decoration: none;
    
}
ul li{
    font-size: 80%;
    justify-content: space-between;
    padding: 10;
    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navtop{
    
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

#main{
    background-color:  transition;
    color: aqua;
    border: 0;
    padding: 14px 80px 14px 65px ;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size:15px ;
    
   
} 
input{
    width: 300px;
    height: 50px;
}
.navbottom{
    background-color: aquamarine;
}
.navbottom ul{
    list-style: none;
    
    padding: 10px;
    justify-content: space-between;
   
    padding-left: 500px;
    display: inline-block;

}

.navbottom ul li {
    
    display: flex;
    align-items: left;
    font-weight: 50;
    justify-content: space-between;
    height: 70px;
    text-align: center;
    padding: 10px;
    font-size: 100%;
    text-decoration: none;
    display: inline-block;

}
.menuitem{
   
    cursor:pointer;
    color:lightgrey;
    text-align: center;

}
.special{
    background-color: rgb(174, 138, 207);
    text-align: center;
}
.main{
    text-align: left ;
    font-size: 300%;
    padding: 100px 100px;
    justify-content: space-between;
    cursor:pointer;
    background-image: url("https://media.istockphoto.com/photos/man-at-the-shopping-picture-id868718238?k=20&m=868718238&s=612x612&w=0&h=w42q_p1qak9lhVhXKDw1r964uV-AmzSSzC0UsMlMARQ=");
    background-repeat: no-repeat;
    background-size: cover;
} 
button {
    
    border: none;
    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
  }
    
button:hover {
    background-color: #4CAF50; /* Green */
    
    cursor:pointer;

  }
 .left{
 padding:20px;
 font-size: 16px;
  }

@media screen and (max-width:576px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'spartan',sans-serif;
        
    }
    body{
        margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        background-size: cover;
  
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid red;
    }
    img{
        width:120px;
        height: 80px;
    }
    
    
    .navitem
    {
      
      background-color: 009900;
      
      font-size: 15px;
    }
    nav{
        color: black;
       
    }
    
    ul{
        list-style: none;
        display: flex;
        padding: 10px;
        justify-content: space-between;
    
        
    }
    ul li{
        font-size: 9px;
        justify-content: space-between;
        font-weight: 20;
        padding: 3;
        float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      float: left;
      text-decoration: none;
    }

    .navtop{
        
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        
    }
    input{
        width: 100px;
        height: 20px;
    }
    
    #main{
        background-color:  transition;
        color: aqua;
        border: 0;
        
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size:9px ;
        padding: 80px 80px;
        
        
       
    } 
    .navbottom{
        background-color: aquamarine;
        height: 50px;
    }
    .navbottom ul{
        list-style: none;
        
        justify-content: space-between;
       
        padding-left: 50px;
        display: inline-block;
    
    }
    .navbottom ul li {
        float: left;
        display: flex;
        align-items: left;
        font-weight: 50;
        justify-content: space-between;
        height: 70px;
        text-align: center;
        padding: 10px;
        font-size: 40%;
        
    
    }
    .menuitem{
       
        cursor:pointer;
        color:lightgrey;
        text-align: center;
    
    }
    .special{
        background-color: rgb(174, 138, 207);
        text-align: center;
        font-size: 10px;
        font-weight: 9px;
        
    }
    .main{
        text-align: left;
        height: 800px;
        width: 500px;
        justify-content: space-between;
        font-size: 15px;
        padding: 100px 100px;
        color: #09330a;
        background-image: url("https://media.istockphoto.com/photos/man-at-the-shopping-picture-id868718238?k=20&m=868718238&s=612x612&w=0&h=w42q_p1qak9lhVhXKDw1r964uV-AmzSSzC0UsMlMARQ=");
    background-repeat: no-repeat;
    background-size: cover;
        
        
    } 
    button {
        
        border: none;
        color: rgb(34, 6, 6);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 8px;
        cursor:pointer;
        
        
      }
        
    button:hover {
        
        color: white;
        cursor:pointer;
    
      } }