@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Chakra+Petch&family=Dongle:wght@300&family=Josefin+Sans:wght@200&family=Luxurious+Roman&family=Mochiy+Pop+P+One&family=Roboto:ital,wght@0,300;1,100;1,300&family=Yanone+Kaffeesatz:wght@300&display=swap');

* {
  box-sizing: border-box;
}
div{
  height: 20%;
  border: 5;
  width: 50%;
}
body{
  background-image: url("/home/eunimart/Desktop/Task 1/img/Virgin-Red-online-shopping-offers.jpg");
}